## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import matplotlib.pyplot as plt

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Dongsheng,39.8161,109.9776,68.61,17,33,19.93,CN,scattered clouds
1,1,Alpena,45.0617,-83.4327,53.94,46,1,1.99,US,clear sky
2,2,Puerto Ayora,-0.7393,-90.3518,75.54,89,76,5.99,EC,broken clouds
3,3,Hobart,-42.8794,147.3294,42.66,81,75,1.01,AU,broken clouds
4,4,Virginia Beach,36.8529,-75.9780,93.27,48,40,13.80,US,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
2,2,Puerto Ayora,-0.7393,-90.3518,75.54,89,76,5.99,EC,broken clouds
9,9,Umm Lajj,25.0213,37.2685,86.40,59,100,7.49,SA,overcast clouds
17,17,Vila Velha,-20.3297,-40.2925,76.95,88,20,5.99,BR,few clouds
21,21,Alofi,-19.0595,-169.9187,80.49,78,81,3.44,NU,broken clouds
22,22,Kavieng,-2.5744,150.7967,83.64,75,100,13.06,PG,overcast clouds
32,32,Rikitea,-23.1203,-134.9692,76.46,74,53,21.94,PF,broken clouds
33,33,Vaini,-21.2000,-175.2000,78.96,69,40,4.61,TO,scattered clouds
38,38,Raga,8.4596,25.6780,75.40,68,15,4.94,SS,few clouds
46,46,Hithadhoo,-0.6000,73.0833,82.06,76,83,15.90,MV,broken clouds
48,48,Touros,-5.1989,-35.4608,79.70,86,59,13.82,BR,broken clouds

In [31]:
# 4a. Determine if there are any empty rows.

In [32]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [5]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Puerto Ayora,EC,75.54,broken clouds,-0.7393,-90.3518,
9,Umm Lajj,SA,86.40,overcast clouds,25.0213,37.2685,
17,Vila Velha,BR,76.95,few clouds,-20.3297,-40.2925,
21,Alofi,NU,80.49,broken clouds,-19.0595,-169.9187,
22,Kavieng,PG,83.64,overcast clouds,-2.5744,150.7967,
32,Rikitea,PF,76.46,broken clouds,-23.1203,-134.9692,
33,Vaini,TO,78.96,scattered clouds,-21.2000,-175.2000,
38,Raga,SS,75.40,few clouds,8.4596,25.6780,
46,Hithadhoo,MV,82.06,broken clouds,-0.6000,73.0833,
48,Touros,BR,79.70,broken clouds,-5.1989,-35.4608,

In [6]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found...skipping.")
        
hotel_df

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Puerto Ayora,EC,75.54,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
9,Umm Lajj,SA,86.40,overcast clouds,25.0213,37.2685,Moon light Furnished Units
17,Vila Velha,BR,76.95,few clouds,-20.3297,-40.2925,Quality Suites Vila Velha
21,Alofi,NU,80.49,broken clouds,-19.0595,-169.9187,Taloa Heights
22,Kavieng,PG,83.64,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
...,...,...,...,...,...,...,...
678,Saint-Georges,GD,80.28,few clouds,12.0564,-61.7485,Radisson Grenada Beach Resort
680,Najran,SA,75.85,few clouds,17.4924,44.1277,محمد هادي ال فطيح
682,Bairiki,KI,86.00,moderate rain,1.3292,172.9752,Tarawa Boutique Hotel
683,Malkangiri,IN,83.21,scattered clouds,18.3500,81.9000,Girls' Hostel
684,Chavakkad,IN,79.97,overcast clouds,10.5333,76.0500,Rajah Island

In [37]:
# 7. Drop the rows where there is no Hotel Name.

In [7]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [8]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [9]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))